Repository ACMTTU/acm-note-sharing-platform: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.authapplication.yml, azure-pipelines.catalogapplication.yml, azure-pipelines.classapplication.yml, azure-pipelines.sdk.yml, azure-pipelines.secretsservice.yml, azure-pipelines.userapplication.yml

Path conditions:
  azure-pipelines.authapplication.yml: any of: src/AuthApplication
  azure-pipelines.catalogapplication.yml: any of: src/CatalogApplication
  azure-pipelines.classapplication.yml: any of: src/ClassApplication
  azure-pipelines.sdk.yml: any of: src/Shared
  azure-pipelines.secretsservice.yml: any of: src/SecretsService
  azure-pipelines.userapplication.yml: any of: src/UserApplication

Added partition key to various async functions in DBService; VSC is stupid
  src/NotesApplication/Services/DBService.cs
Due: none

Added DBService.GetItemQueryIterator(), NotesController.QueryNoteByName()
  src/NotesApplication/Controllers/NotesController.cs
  src/NotesApplication/Services/DBService.cs
Due: none

Changed partition key question mark?
  src/NotesApplication/Services/DBService.cs
Due: none

updated http request tags and comment blocks
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml

fixed https url requests
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml

fixed id issuse making interal service errors
  src/NotesApplication/Controllers/NotesController.cs
  src/NotesApplication/Models/Note.cs
  src/NotesApplication/Services/DBService.cs
Due: none

ConnectionService.cs created (#82)
  src/UserApplication/Controllers/UserController.cs
  src/UserApplication/Models/UserInfo.cs
  src/UserApplication/Services/ConnectionService.cs
  src/UserApplication/Startup.cs
Due: azure-pipelines.userapplication.yml

Implemented UpdateUser function
  src/UserApplication/Controllers/UserController.cs
Due: azure-pipelines.userapplication.yml

Removed DatabaseService.cs, added DBService.cs (copy of same file from NotesApplication)
  src/ClassApplication/Services/DBService.cs
  src/ClassApplication/Services/DatabaseService.cs
Due: azure-pipelines.classapplication.yml

Added GetUser Method
  src/UserApplication/Controllers/UserController.cs
Due: azure-pipelines.userapplication.yml

Fix CreateClassroom
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml

Revert "GetUser and UpdateUser functions in UserController"
  src/CatalogApplication/Controllers/RatingsController.cs
  src/CatalogApplication/Models/Rating.cs
  src/CatalogApplication/Models/RatingDto.cs
Due: azure-pipelines.catalogapplication.yml

changed classId to id
  src/ClassApplication/Controllers/ClassController.cs
  src/ClassApplication/Models/Classroom.cs
Due: azure-pipelines.classapplication.yml

Fix CreateClassroom
  src/ClassApplication/Controllers/ClassController.cs
  src/ClassApplication/Models/Classroom.cs
Due: azure-pipelines.classapplication.yml

Add param documentation 'description'
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml

Undo last commit
  src/ClassApplication/Controllers/ClassController.cs
  src/ClassApplication/Models/Classroom.cs
Due: azure-pipelines.classapplication.yml

Update Classroom.cs
  src/ClassApplication/Models/Classroom.cs
Due: azure-pipelines.classapplication.yml

Update Controller.cs
  src/NotesApplication/Controllers/Controller.cs
Due: none

Update Note.cs
  src/NotesApplication/Models/Note.cs
Due: none

Add CreateClassroom
  src/ClassApplication/Controllers/ClassController.cs
  src/NotesApplication/Controllers/Controller.cs
  src/NotesApplication/Controllers/NotesController.cs
  src/NotesApplication/Models/Note.cs
Due: azure-pipelines.classapplication.yml

Made changes specific to class application
  src/ClassApplication/Services/DBService.cs
Due: azure-pipelines.classapplication.yml

All files refer to DBService, made DBService._container public to not interfere with controller code YET
  src/ClassApplication/Controllers/ClassController.cs
  src/ClassApplication/Services/DBService.cs
  src/ClassApplication/Startup.cs
Due: azure-pipelines.classapplication.yml

add constructor and formatted
  src/ClassApplication/Models/Classroom.cs
Due: azure-pipelines.classapplication.yml

added AddStudent method
  src/ClassApplication/Models/Classroom.cs
Due: azure-pipelines.classapplication.yml

cleaned and debugged CreateClassroom api call
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml

cleaned GetClassroom api call
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml

removed GetClassByName api call since we have QueryClassByName
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml

added RemoveNote method
  src/ClassApplication/Models/Classroom.cs
Due: azure-pipelines.classapplication.yml

added code to RemoveNoteFromClass api call
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml

changed url for QueryClassByName api call
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml

fixed code for DeleteClassroom api call
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml

removed QueryNoteFromClassroom
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml

fixed warnings
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml
