Repository ACMTTU/acm-note-sharing-platform: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.authapplication.yml, azure-pipelines.catalogapplication.yml, azure-pipelines.classapplication.yml, azure-pipelines.sdk.yml, azure-pipelines.secretsservice.yml, azure-pipelines.userapplication.yml

azure-pipelines.authapplication.yml:
  jobs:
  - job: UnitTest
    displayName: Build Image
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: DotNetCoreInstaller@0
      inputs:
        version: 2.1.13
    - script: dotnet build ./src/AuthApplication/AuthApplication.csproj
  - job: PushAndDeployImage
    dependsOn:
    - UnitTest
  ...

azure-pipelines.catalogapplication.yml:
  jobs:
  - job: UnitTest
    displayName: Test Image
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: DotNetCoreInstaller@0
      inputs:
        version: 2.1.802
  ...

azure-pipelines.classapplication.yml:
  jobs:
  - job: UnitTest
    displayName: Test Image
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: DotNetCoreInstaller@0
      inputs:
        version: 2.1.802
    - script: dotnet build ./src/ClassApplication/ClassApplication.csproj && dotnet test ./src/ClassApplication/ClassApplication.csproj
  ...

azure-pipelines.sdk.yml:
  jobs:
  - job: UnitTestSdk
    displayName: Unit Test for SDK
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: DotNetCoreInstaller@0
      inputs:
        version: 2.1.802
    - script: dotnet test src/Shared/Sdk.Test
  - job: UnitTestNeptune
    displayName: Unit Test for Neptune
    pool:
  ...

azure-pipelines.secretsservice.yml:
  jobs:
  - job: UnitTest
    displayName: Test Image
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: DotNetCoreInstaller@0
      inputs:
        version: 2.1.802
    - script: dotnet build ./src/SecretsService/SecretsService.csproj && dotnet test ./src/SecretsService/SecretsService.csproj
  ...

azure-pipelines.userapplication.yml:
  jobs:
  - job: UnitTest
    displayName: Test Image
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: DotNetCoreInstaller@0
      inputs:
        version: 2.1.802
    - script: dotnet build ./src/UserApplication/UserApplication.csproj && dotnet test ./src/UserApplication/UserApplication.csproj
  ...

Change PartitionKey to be /noteId for Tags so they are partitioned by note
  src/CatalogApplication/Services/ConnectionService.cs
Due: azure-pipelines.catalogapplication.yml

Added IDBService, changed name of DBService to CosmosDBService, changed all instances of the latter class to the former interface so that the database is completely abstracted from NotesController
  src/NotesApplication/Controllers/NotesController.cs
  src/NotesApplication/Services/DBService.cs
  src/NotesApplication/Startup.cs
Due: none

added a instance var of partition key
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml

changed _db to _dbService, deleted comments w/ old fields
  src/NotesApplication/Controllers/NotesController.cs
  src/NotesApplication/Services/DBService.cs
Due: none

Changed CosmosDBService back to DBService
  src/NotesApplication/Services/DBService.cs
  src/NotesApplication/Startup.cs
Due: none

added get and set method for Name/Descrip
  src/ClassApplication/Models/Classroom.cs
Due: azure-pipelines.classapplication.yml

added basic code to UpdateClass
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml

added ownerID instance to keep track of who can update
  src/ClassApplication/Models/Classroom.cs
Due: azure-pipelines.classapplication.yml

added error checking to updateclass
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml

Update DeleteRatings
  src/CatalogApplication/Controllers/RatingsController.cs
Due: azure-pipelines.catalogapplication.yml

TagController and Tag updated and TagDto created
  src/CatalogApplication/Controllers/RatingsController.cs
  src/CatalogApplication/Controllers/TagController.cs
  src/CatalogApplication/Models/Rating.cs
  src/CatalogApplication/Models/TagDto.cs
  src/CatalogApplication/Services/ConnectionService.cs
Due: azure-pipelines.catalogapplication.yml

Changed routing for GetTags and DeleteTags
  src/CatalogApplication/Controllers/TagController.cs
Due: azure-pipelines.catalogapplication.yml

Implemented parametrized query to prevent SQL Injection
  src/CatalogApplication/Controllers/TagController.cs
Due: azure-pipelines.catalogapplication.yml

Add a rating DTO object since we do not want API users to specify the unique id we generate
  src/CatalogApplication/Models/Rating.cs
Due: azure-pipelines.catalogapplication.yml

Resolved Merge Conflicts
  src/CatalogApplication/Controllers/RatingsController.cs
  src/CatalogApplication/Controllers/TagController.cs
  src/CatalogApplication/Models/Tags.cs
Due: azure-pipelines.catalogapplication.yml

Changed routing for GetTags and DeleteTags (#74)
  src/CatalogApplication/Controllers/TagController.cs
Due: azure-pipelines.catalogapplication.yml

Updated ratings delete function
  src/CatalogApplication/Controllers/RatingsController.cs
Due: azure-pipelines.catalogapplication.yml

Fixing the Header Issues
  src/CatalogApplication/Controllers/TagController.cs
Due: azure-pipelines.catalogapplication.yml

Fixing the Header Issues (#75)
  src/CatalogApplication/Controllers/TagController.cs
Due: azure-pipelines.catalogapplication.yml

Change rating from double to int
  src/CatalogApplication/Models/RatingDto.cs
Due: azure-pipelines.catalogapplication.yml

Remove empty list check
  src/CatalogApplication/Controllers/RatingsController.cs
Due: azure-pipelines.catalogapplication.yml

Updated CreateRating and UpdateRating functions in the RatingsController
  src/CatalogApplication/Controllers/RatingsController.cs
  src/CatalogApplication/Models/Rating.cs
  src/CatalogApplication/Models/RatingDto.cs
Due: azure-pipelines.catalogapplication.yml

Updated CreateRating and UpdateRating function in RatingsController
  src/CatalogApplication/Controllers/RatingsController.cs
  src/CatalogApplication/Models/Rating.cs
  src/CatalogApplication/Models/RatingDto.cs
Due: azure-pipelines.catalogapplication.yml

check
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml

I added three methods GetClassroomByID, GetClassroomByName, and DeleteClass. I apologize for any errors, and looking for suggestions if needed
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml

changed the classID to be type string
  src/ClassApplication/Models/Classroom.cs
Due: azure-pipelines.classapplication.yml

wrote code for QueryClassByName
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml

fixed some naming conventions
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml

Created Classroom.RemoveStudent(string) and ClassController.RemoveStudentFromClass(string, string, string). Also created Classroom.ContainsStudent(string) and Classroom.StudentIsOwner(string).
  src/ClassApplication/Controllers/ClassController.cs
  src/ClassApplication/Models/Classroom.cs
Due: azure-pipelines.classapplication.yml

Add CreateClassroom functionality
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml

Added second NotesController.CreateNote() function which allows user to input name, contents, creation date, and last modified date directly
  src/NotesApplication/Controllers/NotesController.cs
Due: none

Change made with respect to the pull request comments.
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml

Since there is no validation for adding student, added student with respect to addId
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml

Changed HttpPut tag of new function to createfromscratch
  src/NotesApplication/Controllers/NotesController.cs
Due: none

added comment
  src/ClassApplication/Controllers/ClassController.cs
Due: azure-pipelines.classapplication.yml

Updated CreateRatings and UpdateRatings Function (#76)
  src/CatalogApplication/Controllers/RatingsController.cs
  src/CatalogApplication/Models/RatingDto.cs
Due: azure-pipelines.catalogapplication.yml

ConnectionService.cs created
  src/UserApplication/Models/UserInfo.cs
  src/UserApplication/Services/ConnectionService.cs
Due: azure-pipelines.userapplication.yml

ConnectionService fixed. DeleteUser also updated
  src/UserApplication/Controllers/UserController.cs
  src/UserApplication/Models/UserInfo.cs
  src/UserApplication/Services/ConnectionService.cs
  src/UserApplication/Startup.cs
Due: azure-pipelines.userapplication.yml

Fixed createNewUser
  src/UserApplication/Controllers/UserController.cs
Due: azure-pipelines.userapplication.yml

CreateUser function name
  src/UserApplication/Controllers/UserController.cs
Due: azure-pipelines.userapplication.yml

Path conditions:
  azure-pipelines.authapplication.yml: any of: src/AuthApplication
  azure-pipelines.catalogapplication.yml: any of: src/CatalogApplication
  azure-pipelines.classapplication.yml: any of: src/ClassApplication
  azure-pipelines.sdk.yml: any of: src/Shared
  azure-pipelines.secretsservice.yml: any of: src/SecretsService
  azure-pipelines.userapplication.yml: any of: src/UserApplication
