Repository ACMTTU/acm-note-sharing-platform: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.authapplication.yml, azure-pipelines.catalogapplication.yml, azure-pipelines.sdk.yml, azure-pipelines.secretsservice.yml

Path conditions:
  azure-pipelines.authapplication.yml: any of: src/AuthApplication
  azure-pipelines.catalogapplication.yml: any of: src/CatalogApplication
  azure-pipelines.sdk.yml: any of: src/Shared
  azure-pipelines.secretsservice.yml: any of: src/SecretsService

Readme for Catalog App added (#19)
  src/CatalogApplication/Models/README.md
Due: azure-pipelines.catalogapplication.yml

Add CatalogApplication initial C# models for Tag/Rating data (#18)
  src/CatalogApplication/Models/Rating.cs
  src/CatalogApplication/Models/Tags.cs
Due: azure-pipelines.catalogapplication.yml

adding doc middleware to user app to test
  src/UserApplication/Startup.cs
  src/UserApplication/UserApplication.csproj
Due: none

adding xml comments and actual documentation for secrets service
  src/SecretsService/Controllers/ConnectionStringController.cs
  src/SecretsService/SecretsService.csproj
  src/SecretsService/Startup.cs
Due: azure-pipelines.secretsservice.yml

adding docs to user app
  src/UserApplication/Controllers/ValuesController.cs
  src/UserApplication/Startup.cs
  src/UserApplication/UserApplication.csproj
Due: none

adding docs to catalog app
  src/CatalogApplication/CatalogApplication.csproj
  src/CatalogApplication/Controllers/ValuesController.cs
  src/CatalogApplication/Startup.cs
Due: azure-pipelines.catalogapplication.yml

adding docs to claims service
  src/ClaimsService/ClaimsService.csproj
  src/ClaimsService/Controllers/ValuesController.cs
  src/ClaimsService/Startup.cs
Due: none

adding docs to notes app
  src/NotesApplication/Controllers/Controller.cs
  src/NotesApplication/NotesApplication.csproj
  src/NotesApplication/Startup.cs
Due: none

adding docs to class app
  src/ClassApplication/.vscode/launch.json
  src/ClassApplication/ClassApplication.csproj
  src/ClassApplication/Controllers/ValuesController.cs
  src/ClassApplication/Startup.cs
Due: none

adding docs to class app
  src/ClassApplication/Controllers/ValuesController.cs
  src/ClassApplication/Program.cs
  src/ClassApplication/Properties/launchSettings.json
  src/ClassApplication/Startup.cs
Due: none

removing props and cleaning the routes
  src/CatalogApplication/Controllers/ValuesController.cs
  src/ClaimsService/Controllers/ValuesController.cs
  src/ClaimsService/Properties/launchSettings.json
  src/NotesApplication/Controllers/Controller.cs
  src/NotesApplication/Properties/launchSettings.json
  src/SecretsService/Properties/launchSettings.json
  src/UserApplication/Controllers/ValuesController.cs
  src/UserApplication/Properties/launchSettings.json
Due: azure-pipelines.catalogapplication.yml, azure-pipelines.secretsservice.yml

Setting up Docs Middleware for Services/Applications (#21)
  src/CatalogApplication/CatalogApplication.csproj
  src/CatalogApplication/Controllers/ValuesController.cs
  src/CatalogApplication/Startup.cs
  src/ClaimsService/ClaimsService.csproj
  src/ClaimsService/Controllers/ValuesController.cs
  src/ClaimsService/Properties/launchSettings.json
  src/ClaimsService/Startup.cs
  src/ClassApplication/.vscode/launch.json
  src/ClassApplication/ClassApplication.csproj
  src/ClassApplication/Controllers/ValuesController.cs
  src/ClassApplication/Program.cs
  src/ClassApplication/Properties/launchSettings.json
  src/ClassApplication/Startup.cs
  src/NotesApplication/Controllers/Controller.cs
  src/NotesApplication/NotesApplication.csproj
  src/NotesApplication/Properties/launchSettings.json
  src/NotesApplication/Startup.cs
  src/SecretsService/Controllers/ConnectionStringController.cs
  src/SecretsService/Properties/launchSettings.json
  src/SecretsService/SecretsService.csproj
  src/SecretsService/Startup.cs
  src/UserApplication/Controllers/ValuesController.cs
  src/UserApplication/Properties/launchSettings.json
  src/UserApplication/Startup.cs
  src/UserApplication/UserApplication.csproj
Due: azure-pipelines.catalogapplication.yml, azure-pipelines.secretsservice.yml

markdown format fix
  src/CatalogApplication/Models/README.md
Due: azure-pipelines.catalogapplication.yml

fixing endpoint
  src/Shared/Sdk/Providers/ServiceClients/ClientFactory.cs
  src/Shared/Sdk/Sdk.csproj
Due: azure-pipelines.sdk.yml

Add model for Classroom
  src/ClassApplication/Models/Classroom.cs
Due: none

Add README for Classroom
  src/ClassApplication/Models/README.md
Due: none

Added embeded image for usecase diagram
  src/ClassApplication/Models/README.md
Due: none

Added class diagram to Classroom
  src/ClassApplication/Models/README.md
Due: none

Added Classroom class and origin comments
  src/ClassApplication/Models/Classroom.cs
Due: none

changed the diagram picture to a valid photo
  src/ClassApplication/Models/README.md
Due: none

adding a base controller for everyone to inherit so that they can use database and storage clients
  src/Shared/Sdk/Providers/Controllers/PlatformController.cs
  src/Shared/Sdk/Sdk.csproj
Due: azure-pipelines.sdk.yml

fixing SDK to allow for connections to database and storage
  src/Shared/Sdk/Providers/Controllers/PlatformController.cs
  src/Shared/Sdk/Sdk.csproj
Due: azure-pipelines.sdk.yml

removed data contracts since it is already included in the SDK
  src/Shared/Sdk.Test/Sdk.Test.csproj
Due: azure-pipelines.sdk.yml

bootstrapping the ClaimsService
  src/ClaimsService/ClaimsService.csproj
  src/ClaimsService/Controllers/ValuesController.cs
  src/ClaimsService/Startup.cs
  src/ClaimsService/charts/claimsservice/templates/deployment.yaml
Due: none

bootstrapping the Catalog Application
  src/CatalogApplication/CatalogApplication.csproj
  src/CatalogApplication/Controllers/ValuesController.cs
  src/CatalogApplication/Startup.cs
Due: azure-pipelines.catalogapplication.yml

bootstrapping the Class Application
  src/ClassApplication/ClassApplication.csproj
  src/ClassApplication/Controllers/ValuesController.cs
  src/ClassApplication/Startup.cs
Due: none

bootstrapping the User Application
  src/UserApplication/Controllers/ValuesController.cs
  src/UserApplication/Startup.cs
  src/UserApplication/UserApplication.csproj
Due: none

bootstrapping the Notes Application
  src/NotesApplication/Controllers/Controller.cs
  src/NotesApplication/NotesApplication.csproj
  src/NotesApplication/Startup.cs
Due: none

fixing testing scripts for pipelines
  azure-pipelines.catalogapplication.yml
  azure-pipelines.claimsservice.yml
  azure-pipelines.classapplication.yml
  azure-pipelines.notesapplication.yml
  azure-pipelines.secretsservice.yml
  azure-pipelines.userapplication.yml
Due: none

Adding Database and Blob Storage Connections to Controllers (#22)
  azure-pipelines.catalogapplication.yml
  azure-pipelines.claimsservice.yml
  azure-pipelines.classapplication.yml
  azure-pipelines.notesapplication.yml
  azure-pipelines.secretsservice.yml
  azure-pipelines.userapplication.yml
  src/CatalogApplication/CatalogApplication.csproj
  src/CatalogApplication/Controllers/ValuesController.cs
  src/CatalogApplication/Startup.cs
  src/ClaimsService/ClaimsService.csproj
  src/ClaimsService/Controllers/ValuesController.cs
  src/ClaimsService/Startup.cs
  src/ClaimsService/charts/claimsservice/templates/deployment.yaml
  src/ClassApplication/ClassApplication.csproj
  src/ClassApplication/Controllers/ValuesController.cs
  src/ClassApplication/Startup.cs
  src/NotesApplication/Controllers/Controller.cs
  src/NotesApplication/NotesApplication.csproj
  src/NotesApplication/Startup.cs
  src/Shared/Sdk.Test/Sdk.Test.csproj
  src/Shared/Sdk/Providers/Controllers/PlatformController.cs
  src/Shared/Sdk/Providers/ServiceClients/ClientFactory.cs
  src/Shared/Sdk/Sdk.csproj
  src/UserApplication/Controllers/ValuesController.cs
  src/UserApplication/Startup.cs
  src/UserApplication/UserApplication.csproj
Due: azure-pipelines.catalogapplication.yml, azure-pipelines.sdk.yml

removing SDK CI
  azure-pipelines.sdk.yml
Due: none

Removing SDK CI (#23)
  azure-pipelines.sdk.yml
Due: none

added README w/ schema
  src/NotesApplication/README.txt
Due: none

Update note ID to be a string instead of integer
  src/CatalogApplication/Models/Rating.cs
  src/CatalogApplication/Models/Tags.cs
Due: azure-pipelines.catalogapplication.yml

Fix typo
  src/CatalogApplication/Models/Rating.cs
Due: azure-pipelines.catalogapplication.yml

Update README.md to reflect Notes Application decision for string IDs
  src/CatalogApplication/Models/README.md
Due: azure-pipelines.catalogapplication.yml

fixing namespace issues in kubernetes manifest
  src/NotesApplication/Program.cs
  src/NotesApplication/Startup.cs
  src/NotesApplication/charts/notesapplication/templates/deployment.yaml
Due: none

Added models for user application schema
  src/UserApplication/Models/UserInfo.cs
Due: none

Update on the database schema / ReadMe (#27)
  src/CatalogApplication/Models/README.md
  src/CatalogApplication/Models/Rating.cs
  src/CatalogApplication/Models/Tags.cs
Due: azure-pipelines.catalogapplication.yml

Update README with NoSQL schema and model for Claims Service
  src/ClaimsService/Models/README.md
Due: none
