Repository ACMTTU/acm-note-sharing-platform: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.authapplication.yml, azure-pipelines.catalogapplication.yml, azure-pipelines.sdk.yml, azure-pipelines.secretsservice.yml

azure-pipelines.authapplication.yml:
  jobs:
  - job: UnitTest
    displayName: Build Image
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: DotNetCoreInstaller@0
      inputs:
        version: 2.1.13
    - script: dotnet build ./src/AuthApplication/AuthApplication.csproj
  - job: PushAndDeployImage
    dependsOn:
    - UnitTest
  ...

azure-pipelines.catalogapplication.yml:
  jobs:
  - job: UnitTest
    displayName: Build Image
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: DotNetCoreInstaller@0
      inputs:
        version: '2.2'
    - script: dotnet build ./src/CatalogApplication/CatalogApplication.csproj
  - job: PushAndDeployImage
    dependsOn:
    - UnitTest
  ...

azure-pipelines.sdk.yml:
  jobs:
  - job: UnitTest
    displayName: Build Image
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: DotNetCoreInstaller@0
      inputs:
        version: 2.1.802
    - script: dotnet test src/Shared/Sdk.Test
  - job: PublishNugetPackage
    dependsOn:
    - UnitTest
  ...

azure-pipelines.secretsservice.yml:
  jobs:
  - job: UnitTest
    displayName: Build Image
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: DotNetCoreInstaller@0
      inputs:
        version: 3.0.100
    - script: dotnet build ./src/SecretsService/SecretsService.csproj
  - job: PushAndDeployImage
    dependsOn:
    - UnitTest
  ...

including test project files
  Neptune.Tests/Neptune.Tests.csproj
  Neptune.Tests/UnitTest1.cs
Due: none

Created basic HTTP methods
  src/Shared/Neptune/Messages/Message.cs
  src/Shared/Neptune/Services/IService.cs
Due: none

using clientFactory
  src/Shared/Neptune/Services/ClassApplication.cs
Due: none

using extension methods for httpclient factory
  src/Shared/Neptune/Services/IService.cs
Due: none

using extension method in ca
  src/Shared/Neptune/Services/CatalogApplication.cs
Due: none

using clientFactory transiently
  src/Shared/Neptune/Services/IService.cs
Due: none

Added test using mock factory
  Neptune.Tests/Neptune.Tests.csproj
  Neptune.Tests/ServiceTests.cs
  src/Shared/Neptune/Neptune.csproj
Due: none

including source
  Neptune.Tests/ServiceTests.cs
Due: none

Creating delgationHandler to ensure azds-route-as is set
  src/Shared/Neptune/Http/DevspaceHandler.cs
Due: none

Adding helper method to propagate headers
  src/Shared/Neptune/Http/HeaderPropagator.cs
Due: none

resolve conflicts
  Neptune.Tests/UnitTest1.cs
  Platform.sln
  global.json
  src/Shared/Neptune.Tests/Neptune.Tests.csproj
  src/Shared/Neptune.Tests/ServiceTests.cs
  src/Shared/Neptune/Http/DevspaceHandler.cs
  src/Shared/Neptune/Http/HeaderPropagator.cs
  src/Shared/Neptune/Messages/CatalogMessages.cs
  src/Shared/Neptune/Messages/Message.cs
  src/Shared/Neptune/Neptune.csproj
  src/Shared/Neptune/Services/CatalogApplication.cs
  src/Shared/Neptune/Services/ClassApplication.cs
  src/Shared/Neptune/Services/IService.cs
Due: none

added example. Using testutils
  src/Shared/Neptune.Tests/Neptune.Tests.csproj
  src/Shared/Neptune.Tests/ServiceTests.cs
  src/Shared/Neptune/Examples/Garage.cs
  src/Shared/Neptune/Messages/Message.cs
Due: none

deleting example code
  src/Shared/Neptune.Tests/ServiceTests.cs
  src/Shared/Neptune/Messages/CatalogMessages.cs
  src/Shared/Neptune/Services/CatalogApplication.cs
Due: none

adding example
  src/Shared/Neptune/Example.md
  src/Shared/Neptune/Examples/Garage.cs
Due: none

adding ci to neptune
  azure-pipelines.sdk.yml
  src/Shared/Neptune/Neptune.csproj
Due: none

making uri not readonly
  src/Shared/Neptune.Tests/ServiceTests.cs
Due: none

yayeet
  azure-pipelines.sdk.yml
Due: none

Zlef/comm lib rebase (#15)
  Platform.sln
  azure-pipelines.sdk.yml
  global.json
  src/SecretsService/Properties/launchSettings.json
  src/Shared/Neptune.Tests/Neptune.Tests.csproj
  src/Shared/Neptune.Tests/ServiceTests.cs
  src/Shared/Neptune/Example.md
  src/Shared/Neptune/Examples/Garage.cs
  src/Shared/Neptune/Http/DevspaceHandler.cs
  src/Shared/Neptune/Http/HeaderPropagator.cs
  src/Shared/Neptune/Messages/Message.cs
  src/Shared/Neptune/Neptune.csproj
  src/Shared/Neptune/Services/IService.cs
Due: azure-pipelines.secretsservice.yml

fixing typo for version
  azure-pipelines.sdk.yml
Due: none

trying out this deployment
  azure-pipelines.sdk.yml
Due: none

typo
  azure-pipelines.sdk.yml
Due: none

trying a multiline script
  azure-pipelines.sdk.yml
Due: none

getting CI for data contracts
  azure-pipelines.sdk.yml
  src/Shared/DataContracts/DataContracts.csproj
  src/Shared/Neptune/Neptune.csproj
  src/Shared/Sdk/Sdk.csproj
Due: azure-pipelines.sdk.yml

changing name of step
  azure-pipelines.sdk.yml
Due: none

adding back all of the conditions
  azure-pipelines.sdk.yml
Due: none

upgrading all versions
  src/Shared/DataContracts/DataContracts.csproj
  src/Shared/Neptune/Neptune.csproj
  src/Shared/Sdk/Sdk.csproj
Due: azure-pipelines.sdk.yml

Fixed Up CI for Shared Libraries (#16)
  azure-pipelines.sdk.yml
  src/Shared/DataContracts/DataContracts.csproj
  src/Shared/Neptune/Neptune.csproj
  src/Shared/Sdk/Sdk.csproj
Due: azure-pipelines.sdk.yml

fixing trigger
  azure-pipelines.sdk.yml
Due: none

renaming entire application
  Platform.sln
  azure-pipelines.sdk.yml
  azure-pipelines.userapplication.yml
  src/AuthApplication/Dockerfile
  src/AuthApplication/Scripts/docker-build-push.sh
  src/AuthApplication/azds.yaml
  src/UserApplication/.dockerignore
  src/UserApplication/.vscode/launch.json
  src/UserApplication/.vscode/settings.json
  src/UserApplication/.vscode/tasks.json
  src/UserApplication/Controllers/ValuesController.cs
  src/UserApplication/Dockerfile
  src/UserApplication/Dockerfile.develop
  src/UserApplication/Program.cs
  src/UserApplication/Properties/launchSettings.json
  src/UserApplication/Scripts/docker-build-push.sh
  src/UserApplication/Startup.cs
  src/UserApplication/UserApplication.csproj
  src/UserApplication/appsettings.Development.json
  src/UserApplication/appsettings.json
  src/UserApplication/azds.yaml
  src/UserApplication/charts/authapplication/.helmignore
  src/UserApplication/charts/authapplication/Chart.yaml
  src/UserApplication/charts/authapplication/templates/NOTES.txt
  src/UserApplication/charts/authapplication/templates/_helpers.tpl
  src/UserApplication/charts/authapplication/templates/deployment.yaml
  src/UserApplication/charts/authapplication/templates/ingress.yaml
  src/UserApplication/charts/authapplication/templates/secrets.yaml
  src/UserApplication/charts/authapplication/templates/service.yaml
  src/UserApplication/charts/authapplication/values.yaml
Due: azure-pipelines.authapplication.yml

Rename Auth Application to User Application (#17)
  Platform.sln
  azure-pipelines.sdk.yml
  azure-pipelines.userapplication.yml
  src/AuthApplication/Dockerfile
  src/AuthApplication/Scripts/docker-build-push.sh
  src/AuthApplication/azds.yaml
  src/UserApplication/.dockerignore
  src/UserApplication/.vscode/launch.json
  src/UserApplication/.vscode/settings.json
  src/UserApplication/.vscode/tasks.json
  src/UserApplication/Controllers/ValuesController.cs
  src/UserApplication/Dockerfile
  src/UserApplication/Dockerfile.develop
  src/UserApplication/Program.cs
  src/UserApplication/Properties/launchSettings.json
  src/UserApplication/Scripts/docker-build-push.sh
  src/UserApplication/Startup.cs
  src/UserApplication/UserApplication.csproj
  src/UserApplication/appsettings.Development.json
  src/UserApplication/appsettings.json
  src/UserApplication/azds.yaml
  src/UserApplication/charts/authapplication/.helmignore
  src/UserApplication/charts/authapplication/Chart.yaml
  src/UserApplication/charts/authapplication/templates/NOTES.txt
  src/UserApplication/charts/authapplication/templates/_helpers.tpl
  src/UserApplication/charts/authapplication/templates/deployment.yaml
  src/UserApplication/charts/authapplication/templates/ingress.yaml
  src/UserApplication/charts/authapplication/templates/secrets.yaml
  src/UserApplication/charts/authapplication/templates/service.yaml
  src/UserApplication/charts/authapplication/values.yaml
Due: azure-pipelines.authapplication.yml

fixing a typo lol
  azure-pipelines.userapplication.yml
  src/UserApplication/charts/userapplication/.helmignore
  src/UserApplication/charts/userapplication/Chart.yaml
  src/UserApplication/charts/userapplication/templates/NOTES.txt
  src/UserApplication/charts/userapplication/templates/_helpers.tpl
  src/UserApplication/charts/userapplication/templates/deployment.yaml
  src/UserApplication/charts/userapplication/templates/ingress.yaml
  src/UserApplication/charts/userapplication/templates/secrets.yaml
  src/UserApplication/charts/userapplication/templates/service.yaml
  src/UserApplication/charts/userapplication/values.yaml
Due: none

Create classes Classroom, Student, and Note with variables: Students, Name, Tags, Notes, Name, Year, Notes, Classrooms, Author, Rating, Description, and CreationDate
  src/ClassApplication/.vscode/sprint1.cs
Due: none

Models Added
  src/CatalogApplication/Models/Rating.cs
  src/CatalogApplication/Models/Tags.cs
Due: azure-pipelines.catalogapplication.yml

fixing windows install script
  infra/install_prerequisites.sh
Due: none

Create sprint1.cs
  src/ClassApplication/sprints/sprint1.cs
Due: none

Delete sprint1.cs
  src/ClassApplication/sprints/sprint1.cs
Due: none

The sprints for the ClassApplication
  src/ClassApplication/Sprints/intro.txt
Due: none

Add CatalogApplication initial C# models for Tag/Rating data
  src/CatalogApplication/Models/Rating.cs
  src/CatalogApplication/Models/Tags.cs
Due: azure-pipelines.catalogapplication.yml

Create README.md
  src/CatalogApplication/Models/README.md
Due: azure-pipelines.catalogapplication.yml

Added descriptions for each attribute and changed class name to something more descriptive
  src/CatalogApplication/Models/Tags.cs
Due: azure-pipelines.catalogapplication.yml

Path conditions:
  azure-pipelines.authapplication.yml: any of: src/AuthApplication
  azure-pipelines.catalogapplication.yml: any of: src/CatalogApplication
  azure-pipelines.sdk.yml: any of: src/Shared/Sdk
  azure-pipelines.secretsservice.yml: any of: src/SecretsService
