Repository ACMTTU/acm-note-sharing-platform: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.authapplication.yml, azure-pipelines.catalogapplication.yml, azure-pipelines.sdk.yml, azure-pipelines.secretsservice.yml

azure-pipelines.authapplication.yml:
  jobs:
  - job: UnitTest
    displayName: Build Image
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: DotNetCoreInstaller@0
      inputs:
        version: 2.1.13
    - script: dotnet build ./src/AuthApplication/AuthApplication.csproj
  - job: PushAndDeployImage
    dependsOn:
    - UnitTest
  ...

azure-pipelines.catalogapplication.yml:
  jobs:
  - job: UnitTest
    displayName: Build Image
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: DotNetCoreInstaller@0
      inputs:
        version: '2.2'
    - script: dotnet build ./src/CatalogApplication/CatalogApplication.csproj
  - job: PushAndDeployImage
    dependsOn:
    - UnitTest
  ...

azure-pipelines.sdk.yml:
  jobs:
  - job: UnitTestSdk
    displayName: Unit Test for SDK
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: DotNetCoreInstaller@0
      inputs:
        version: 2.1.802
    - script: dotnet test src/Shared/Sdk.Test
  - job: UnitTestNeptune
    displayName: Unit Test for Neptune
    pool:
  ...

azure-pipelines.secretsservice.yml:
  jobs:
  - job: UnitTest
    displayName: Build Image
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: DotNetCoreInstaller@0
      inputs:
        version: 3.0.100
    - script: dotnet build ./src/SecretsService/SecretsService.csproj
  - job: PushAndDeployImage
    dependsOn:
    - UnitTest
  ...

Delete launch.json
  .vscode/launch.json
Due: none

Add CatalogApplication API Contracts w/ Documentation (#49)
  src/CatalogApplication/Controllers/RatingsController.cs
  src/CatalogApplication/Controllers/TagController.cs
  src/CatalogApplication/Controllers/ValuesController.cs
  src/CatalogApplication/Models/README.md
  src/CatalogApplication/Models/Tags.cs
  src/CatalogApplication/Services/ConnectionService.cs
  src/CatalogApplication/Startup.cs
Due: azure-pipelines.catalogapplication.yml

API documentation updated
  src/CatalogApplication/Controllers/RatingsController.cs
  src/CatalogApplication/Controllers/TagController.cs
Due: azure-pipelines.catalogapplication.yml

created API calls for create, get, and query classes
  src/ClassApplication/Controllers/ValuesController.cs
Due: none

API Documentation added for: DeleteUser, CreateUser, UpdateClass, UpdateMajor, and UpdateUsername
  src/UserApplication/Controllers/ValuesController.cs
Due: none

API Calls for Add/Remove/Query Users within a Class
  src/ClassApplication/Controllers/ValuesController.cs
Due: none

Add api calls
  src/ClassApplication/Controllers/ValuesController.cs
Due: none

Resolve HTTPQuery
  src/ClassApplication/Controllers/ValuesController.cs
Due: none

Resolve change requests
  src/ClassApplication/Controllers/ValuesController.cs
Due: none

completed GetNote method, also created partKey variable that stores a partition key for all other methods to use
  src/NotesApplication/Controllers/Controller.cs
Due: none

GetNote and EditNote (#54)
  src/NotesApplication/Controllers/Controller.cs
  src/NotesApplication/Services/DBService.cs
Due: none

added basic delete function
  src/NotesApplication/Controllers/Controller.cs
Due: none

added GetNoteByUser method stub
  src/NotesApplication/Controllers/Controller.cs
Due: none

added helper function to verify permisions
  src/NotesApplication/Controllers/Controller.cs
Due: none

added IActionResult instead of True/False
  src/NotesApplication/Controllers/Controller.cs
Due: none

added delete functionality (#46)
  src/NotesApplication/Controllers/Controller.cs
Due: none

added GetNoteByUser stub, also modified other methods to return action results
  src/NotesApplication/Controllers/Controller.cs
Due: none

adding create note functionality
  src/NotesApplication/Controllers/Controller.cs
  src/NotesApplication/Models/Note.cs
Due: none

adding create note functionality (#57)
  src/NotesApplication/Controllers/Controller.cs
  src/NotesApplication/Models/Note.cs
Due: none

added doc for verifyPermision func
  src/NotesApplication/Controllers/Controller.cs
Due: none

added doc for verifyPermision func (#59)
  src/NotesApplication/Controllers/Controller.cs
Due: none

changing to private
  src/NotesApplication/Controllers/Controller.cs
Due: none

Created API Contract for the Notes Application (#39)
  src/NotesApplication/Controllers/Controller.cs
  src/NotesApplication/Models/Note.cs
  src/NotesApplication/Services/ConnectionService.cs
  src/NotesApplication/Services/DBService.cs
  src/NotesApplication/Services/NotesMetaDataService.cs
  src/NotesApplication/Startup.cs
Due: none

new rating method added
  src/CatalogApplication/Controllers/RatingsController.cs
Due: azure-pipelines.catalogapplication.yml

new ratings stub updated
  src/CatalogApplication/Controllers/RatingsController.cs
Due: azure-pipelines.catalogapplication.yml

pull request changes resolved
  src/CatalogApplication/Controllers/RatingsController.cs
Due: azure-pipelines.catalogapplication.yml

logic error fixed
  src/CatalogApplication/Controllers/RatingsController.cs
Due: azure-pipelines.catalogapplication.yml

rating logic error fixed
  src/CatalogApplication/Controllers/RatingsController.cs
Due: azure-pipelines.catalogapplication.yml

updateTag
  src/CatalogApplication/Controllers/TagController.cs
Due: azure-pipelines.catalogapplication.yml

update rating api updated
  src/CatalogApplication/Controllers/RatingsController.cs
Due: azure-pipelines.catalogapplication.yml

implemented ReplaceItemAsync
  src/CatalogApplication/Controllers/RatingsController.cs
Due: azure-pipelines.catalogapplication.yml

changed the api routing
  src/CatalogApplication/Controllers/RatingsController.cs
Due: azure-pipelines.catalogapplication.yml

deleteTag
  src/CatalogApplication/Controllers/RatingsController.cs
  src/CatalogApplication/Controllers/TagController.cs
Due: azure-pipelines.catalogapplication.yml

Update TagController.cs
  src/CatalogApplication/Controllers/TagController.cs
Due: azure-pipelines.catalogapplication.yml

DeleteTags
  src/CatalogApplication/Controllers/TagController.cs
Due: azure-pipelines.catalogapplication.yml

fixed conflicting paths for getClassByID and getClassByName
  src/ClassApplication/Controllers/ValuesController.cs
Due: none

using notes-app resource group
  infra/devsetup.sh
Due: none

generalizing azure resource names
  infra/resources/azuredeploy.json
  infra/resources/deploy-resources.sh
Due: none

changing from acm-notes to notes-app
  azure-pipelines.catalogapplication.yml
  azure-pipelines.classapplication.yml
  azure-pipelines.notesapplication.yml
  azure-pipelines.secretsservice.yml
  azure-pipelines.userapplication.yml
  infra/resources/azuredeploy.json
  infra/resources/populate-keyvault.sh
  infra/resources/setup-keyvault.sh
  src/SecretsService/charts/secretsservice/templates/deployment.yaml
Due: azure-pipelines.secretsservice.yml

Path conditions:
  azure-pipelines.authapplication.yml: any of: src/AuthApplication
  azure-pipelines.catalogapplication.yml: any of: src/CatalogApplication
  azure-pipelines.sdk.yml: any of: src/Shared
  azure-pipelines.secretsservice.yml: any of: src/SecretsService
