Repository ACMTTU/acm-note-sharing-platform: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.authapplication.yml, azure-pipelines.catalogapplication.yml, azure-pipelines.sdk.yml, azure-pipelines.secretsservice.yml

azure-pipelines.authapplication.yml:
  jobs:
  - job: UnitTest
    displayName: Build Image
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: DotNetCoreInstaller@0
      inputs:
        version: 2.1.13
    - script: dotnet build ./src/AuthApplication/AuthApplication.csproj
  - job: PushAndDeployImage
    dependsOn:
    - UnitTest
  ...

azure-pipelines.catalogapplication.yml:
  jobs:
  - job: UnitTest
    displayName: Build Image
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: DotNetCoreInstaller@0
      inputs:
        version: '2.2'
    - script: dotnet build ./src/CatalogApplication/CatalogApplication.csproj
  - job: PushAndDeployImage
    dependsOn:
    - UnitTest
  ...

azure-pipelines.sdk.yml:
  jobs:
  - job: UnitTestSdk
    displayName: Unit Test for SDK
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: DotNetCoreInstaller@0
      inputs:
        version: 2.1.802
    - script: dotnet test src/Shared/Sdk.Test
  - job: UnitTestNeptune
    displayName: Unit Test for Neptune
    pool:
  ...

azure-pipelines.secretsservice.yml:
  jobs:
  - job: UnitTest
    displayName: Build Image
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: DotNetCoreInstaller@0
      inputs:
        version: 3.0.100
    - script: dotnet build ./src/SecretsService/SecretsService.csproj
  - job: PushAndDeployImage
    dependsOn:
    - UnitTest
  ...

Changing Cluster naming scheme (#65)
  azure-pipelines.catalogapplication.yml
  azure-pipelines.classapplication.yml
  azure-pipelines.notesapplication.yml
  azure-pipelines.secretsservice.yml
  azure-pipelines.userapplication.yml
  infra/devsetup.sh
  infra/resources/azuredeploy.json
  infra/resources/deploy-resources.sh
  infra/resources/populate-keyvault.sh
  infra/resources/setup-keyvault.sh
  src/SecretsService/charts/secretsservice/templates/deployment.yaml
Due: azure-pipelines.secretsservice.yml

Adding design progress
  designs/IMG_0571.jpeg
  designs/IMG_0572.jpeg
  designs/IMG_0573.jpeg
  designs/IMG_0574.jpeg
  designs/IMG_0575.jpeg
  designs/IMG_0576.jpeg
Due: none

updating add contribs script for Spring 2020
  infra/add_contributor.sh
Due: none

adding settings to devsetup and docs
  infra/README.md
  infra/devsetup.sh
Due: none

adding default value to azuredeploy
  infra/README.md
  infra/resources/README.md
  infra/resources/azuredeploy.json
  infra/resources/constants.sh
  infra/resources/deploy-resources.sh
  infra/resources/populate-keyvault.sh
  infra/resources/setup-keyvault.sh
Due: none

update readme
  infra/resources/README.md
Due: none

Fixing the deployment script and have the cluster up and running!
  infra/resources/azuredeploy.json
  infra/resources/constants.sh
  infra/resources/populate-keyvault.sh
  infra/resources/setup-keyvault.sh
Due: none

update README
  infra/resources/README.md
Due: none

Updated Infrastructure Docs and Scripts for Spring 2020 (#66)
  infra/README.md
  infra/add_contributor.sh
  infra/devsetup.sh
  infra/resources/README.md
  infra/resources/azuredeploy.json
  infra/resources/constants.sh
  infra/resources/deploy-resources.sh
  infra/resources/populate-keyvault.sh
  infra/resources/setup-keyvault.sh
Due: none

Fixing pipelines
  azure-pipelines.catalogapplication.yml
  azure-pipelines.classapplication.yml
  azure-pipelines.notesapplication.yml
  azure-pipelines.secretsservice.yml
  azure-pipelines.userapplication.yml
  src/CatalogApplication/Scripts/docker-build-push.sh
  src/CatalogApplication/azds.yaml
  src/CatalogApplication/charts/catalogapplication/values.yaml
  src/ClassApplication/Scripts/docker-build-push.sh
  src/ClassApplication/azds.yaml
  src/ClassApplication/charts/classapplication/values.yaml
  src/NotesApplication/Scripts/docker-build-push.sh
  src/NotesApplication/azds.yaml
  src/NotesApplication/charts/notesapplication/values.yaml
  src/SecretsService/Scripts/docker-build-push.sh
  src/SecretsService/azds.yaml
  src/SecretsService/charts/secretsservice/values.yaml
  src/UserApplication/Scripts/docker-build-push.sh
  src/UserApplication/azds.yaml
  src/UserApplication/charts/userapplication/values.yaml
Due: azure-pipelines.catalogapplication.yml, azure-pipelines.secretsservice.yml

commenting out branch protection to test it out
  azure-pipelines.catalogapplication.yml
  azure-pipelines.classapplication.yml
  azure-pipelines.notesapplication.yml
  azure-pipelines.secretsservice.yml
  azure-pipelines.userapplication.yml
Due: none

using helm v2
  azure-pipelines.catalogapplication.yml
  azure-pipelines.classapplication.yml
  azure-pipelines.notesapplication.yml
  azure-pipelines.secretsservice.yml
  azure-pipelines.userapplication.yml
Due: none

Adding back branch protection
  azure-pipelines.catalogapplication.yml
  azure-pipelines.classapplication.yml
  azure-pipelines.notesapplication.yml
  azure-pipelines.secretsservice.yml
  azure-pipelines.userapplication.yml
Due: none

Updated Pipeline config for Spring 2020 (#67)
  azure-pipelines.catalogapplication.yml
  azure-pipelines.classapplication.yml
  azure-pipelines.notesapplication.yml
  azure-pipelines.secretsservice.yml
  azure-pipelines.userapplication.yml
  src/CatalogApplication/Scripts/docker-build-push.sh
  src/CatalogApplication/azds.yaml
  src/CatalogApplication/charts/catalogapplication/values.yaml
  src/ClassApplication/Scripts/docker-build-push.sh
  src/ClassApplication/azds.yaml
  src/ClassApplication/charts/classapplication/values.yaml
  src/NotesApplication/Scripts/docker-build-push.sh
  src/NotesApplication/azds.yaml
  src/NotesApplication/charts/notesapplication/values.yaml
  src/SecretsService/Scripts/docker-build-push.sh
  src/SecretsService/azds.yaml
  src/SecretsService/charts/secretsservice/values.yaml
  src/UserApplication/Scripts/docker-build-push.sh
  src/UserApplication/azds.yaml
  src/UserApplication/charts/userapplication/values.yaml
Due: azure-pipelines.catalogapplication.yml, azure-pipelines.secretsservice.yml

fixing build error
  src/CatalogApplication/Controllers/TagController.cs
Due: azure-pipelines.catalogapplication.yml

Implemented Some CRUD functionality for CatalogApplication (#64)
  src/CatalogApplication/Controllers/RatingsController.cs
  src/CatalogApplication/Controllers/TagController.cs
Due: azure-pipelines.catalogapplication.yml

Implemented API controller methods: createClass, getClass, and QueryClassByName (#50)
  src/ClassApplication/Controllers/ValuesController.cs
Due: none

fixing update methods
  src/UserApplication/Controllers/UserController.cs
Due: none

API Documentation added for User Controller Methods (#53)
  src/UserApplication/Controllers/UserController.cs
  src/UserApplication/Controllers/ValuesController.cs
Due: none

Add Delete And Query For Class Controller (#52)
  src/ClassApplication/Controllers/ValuesController.cs
Due: none

renaming some files
  src/ClassApplication/Controllers/ClassController.cs
  src/ClassApplication/Services/DatabaseService.cs
Due: none

Adding Structure for Class Application (#68)
  src/ClassApplication/Controllers/ClassController.cs
  src/ClassApplication/Controllers/ValuesController.cs
  src/ClassApplication/Services/DatabaseService.cs
Due: none

Remove undocumented GetRatingValue method
  src/CatalogApplication/Controllers/RatingsController.cs
Due: azure-pipelines.catalogapplication.yml

Remove unused GetTagByNoteId method
  src/CatalogApplication/Controllers/TagController.cs
Due: azure-pipelines.catalogapplication.yml

Fix catalog swagger docs (#69)
  src/CatalogApplication/Controllers/RatingsController.cs
  src/CatalogApplication/Controllers/TagController.cs
Due: azure-pipelines.catalogapplication.yml

not adding straight to resource group anymore
  infra/add_contributor.sh
Due: none

CatalogApplication README
  src/CatalogApplication/README.md
Due: azure-pipelines.catalogapplication.yml

Update CatalogApplication README description
  src/CatalogApplication/README.md
Due: azure-pipelines.catalogapplication.yml

Update CatalogApplication README description (#70)
  src/CatalogApplication/README.md
Due: azure-pipelines.catalogapplication.yml

creating proper env variables to load up the thingy with
  infra/resources/populate-keyvault.sh
Due: none

Fixed bug where wrong environment variables were being set (#71)
  infra/resources/populate-keyvault.sh
Due: none

started building constructor
  src/ClassApplication/Models/Classroom.cs
Due: none

wrote documentation for constructor
  src/ClassApplication/Models/Classroom.cs
Due: none

Changed name of NotesController's file (Controller.cs) to NotesController.cs
  src/NotesApplication/Controllers/Controller.cs
  src/NotesApplication/Controllers/NotesController.cs
Due: none

Added default case to QueryNote(), also (because of complications with duplicate folders) updated Note.cs to be part of the NotesApplication.Models namespace
  src/NotesApplication/Models/Note.cs
Due: none

Actually saved previous change from ClassController.cs
  src/ClassApplication/Controllers/ClassController.cs
Due: none

Wrote skeleton of query function, need to figure out how query statement works and how to return the resultant
  src/ClassApplication/Controllers/ClassController.cs
Due: none

added more temp code comments
  src/ClassApplication/Models/Classroom.cs
Due: none

Made GetClass() function and changed return type to Task<Note>
  src/ClassApplication/Controllers/ClassController.cs
  src/ClassApplication/Models/Classroom.cs
Due: none

Commented out implementation of QueryNote()
  src/ClassApplication/Controllers/ClassController.cs
Due: none

Path conditions:
  azure-pipelines.authapplication.yml: any of: src/AuthApplication
  azure-pipelines.catalogapplication.yml: any of: src/CatalogApplication
  azure-pipelines.sdk.yml: any of: src/Shared
  azure-pipelines.secretsservice.yml: any of: src/SecretsService
