Repository ACMTTU/acm-note-sharing-platform: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.authapplication.yml, azure-pipelines.catalogapplication.yml, azure-pipelines.sdk.yml, azure-pipelines.secretsservice.yml

Path conditions:
  azure-pipelines.authapplication.yml: any of: src/AuthApplication
  azure-pipelines.catalogapplication.yml: any of: src/CatalogApplication
  azure-pipelines.sdk.yml: any of: src/Shared
  azure-pipelines.secretsservice.yml: any of: src/SecretsService

adding api requests to controller
  src/NotesApplication/Controllers/Controller.cs
Due: none

Added code to EditNote method, it replaced notes with a given id, but it does not verify that the user id is the same, this will be fixed later
  src/NotesApplication/Controllers/Controller.cs
Due: none

making implementation methods private. oops
  src/Shared/Sdk/Examples/Controllers/ValuesController.cs
  src/Shared/Sdk/Examples/ExampleAPI.csproj
  src/Shared/Sdk/Examples/Program.cs
  src/Shared/Sdk/Examples/Services/ConnectionService.cs
  src/Shared/Sdk/Examples/Services/FooService.cs
  src/Shared/Sdk/Examples/Startup.cs
  src/Shared/Sdk/Sdk.csproj
Due: azure-pipelines.sdk.yml

changing all versions of SDKs for all the microservices
  src/CatalogApplication/CatalogApplication.csproj
  src/ClaimsService/ClaimsService.csproj
  src/ClassApplication/ClassApplication.csproj
  src/NotesApplication/NotesApplication.csproj
  src/UserApplication/UserApplication.csproj
Due: azure-pipelines.catalogapplication.yml

removing claims service
  src/ClaimsService/.dockerignore
  src/ClaimsService/.vscode/launch.json
  src/ClaimsService/.vscode/settings.json
  src/ClaimsService/.vscode/tasks.json
  src/ClaimsService/ClaimsService.csproj
  src/ClaimsService/Controllers/ValuesController.cs
  src/ClaimsService/Dockerfile
  src/ClaimsService/Dockerfile.develop
  src/ClaimsService/Models/Classroom.cs
  src/ClaimsService/Models/Notes.cs
  src/ClaimsService/Models/README.md
  src/ClaimsService/Program.cs
  src/ClaimsService/Scripts/docker-build-push.sh
  src/ClaimsService/Startup.cs
  src/ClaimsService/appsettings.Development.json
  src/ClaimsService/appsettings.json
  src/ClaimsService/azds.yaml
  src/ClaimsService/charts/claimsservice/.helmignore
  src/ClaimsService/charts/claimsservice/Chart.yaml
  src/ClaimsService/charts/claimsservice/templates/NOTES.txt
  src/ClaimsService/charts/claimsservice/templates/_helpers.tpl
  src/ClaimsService/charts/claimsservice/templates/deployment.yaml
  src/ClaimsService/charts/claimsservice/templates/ingress.yaml
  src/ClaimsService/charts/claimsservice/templates/secrets.yaml
  src/ClaimsService/charts/claimsservice/templates/service.yaml
  src/ClaimsService/charts/claimsservice/values.yaml
Due: none

removing from platform solution
  Platform.sln
Due: none

removing claims pipeline and adding build scripts to all the other services
  azure-pipelines.catalogapplication.yml
  azure-pipelines.claimsservice.yml
  azure-pipelines.classapplication.yml
  azure-pipelines.notesapplication.yml
  azure-pipelines.secretsservice.yml
  azure-pipelines.userapplication.yml
Due: none

Removing Claims Service (#38)
  Platform.sln
  azure-pipelines.catalogapplication.yml
  azure-pipelines.claimsservice.yml
  azure-pipelines.classapplication.yml
  azure-pipelines.notesapplication.yml
  azure-pipelines.secretsservice.yml
  azure-pipelines.userapplication.yml
  src/ClaimsService/.dockerignore
  src/ClaimsService/.vscode/launch.json
  src/ClaimsService/.vscode/settings.json
  src/ClaimsService/.vscode/tasks.json
  src/ClaimsService/ClaimsService.csproj
  src/ClaimsService/Controllers/ValuesController.cs
  src/ClaimsService/Dockerfile
  src/ClaimsService/Dockerfile.develop
  src/ClaimsService/Models/Classroom.cs
  src/ClaimsService/Models/Notes.cs
  src/ClaimsService/Models/README.md
  src/ClaimsService/Program.cs
  src/ClaimsService/Scripts/docker-build-push.sh
  src/ClaimsService/Startup.cs
  src/ClaimsService/appsettings.Development.json
  src/ClaimsService/appsettings.json
  src/ClaimsService/azds.yaml
  src/ClaimsService/charts/claimsservice/.helmignore
  src/ClaimsService/charts/claimsservice/Chart.yaml
  src/ClaimsService/charts/claimsservice/templates/NOTES.txt
  src/ClaimsService/charts/claimsservice/templates/_helpers.tpl
  src/ClaimsService/charts/claimsservice/templates/deployment.yaml
  src/ClaimsService/charts/claimsservice/templates/ingress.yaml
  src/ClaimsService/charts/claimsservice/templates/secrets.yaml
  src/ClaimsService/charts/claimsservice/templates/service.yaml
  src/ClaimsService/charts/claimsservice/values.yaml
Due: none

Creating Platform Base Service that allows developers to connect to the database (#37)
  src/CatalogApplication/CatalogApplication.csproj
  src/ClassApplication/ClassApplication.csproj
  src/NotesApplication/Controllers/Controller.cs
  src/NotesApplication/NotesApplication.csproj
  src/NotesApplication/Services/ConnectionService.cs
  src/NotesApplication/Services/NotesMetaDataService.cs
  src/NotesApplication/Startup.cs
  src/README.md
  src/Shared/Sdk/Examples/Controllers/ValuesController.cs
  src/Shared/Sdk/Examples/ExampleAPI.csproj
  src/Shared/Sdk/Examples/Program.cs
  src/Shared/Sdk/Examples/Services/ConnectionService.cs
  src/Shared/Sdk/Examples/Services/FooService.cs
  src/Shared/Sdk/Examples/Startup.cs
  src/Shared/Sdk/Providers/ServiceClients/StorageClientFactory.cs
  src/Shared/Sdk/Providers/Services/PlatformBaseService.cs
  src/Shared/Sdk/Providers/Services/README.md
  src/Shared/Sdk/Sdk.csproj
  src/UserApplication/Models/UserInfo.cs
  src/UserApplication/UserApplication.csproj
Due: azure-pipelines.catalogapplication.yml, azure-pipelines.sdk.yml

re-added owner id(bc claimes was disbanded)
  src/NotesApplication/Models/Note.cs
Due: none

API Contract completed (#35)
  src/NotesApplication/Controllers/Controller.cs
  src/NotesApplication/Models/Note.cs
Due: none

EditNote method now verifies user id using GetNote method, also made other methods return proper values
  src/NotesApplication/Controllers/Controller.cs
Due: none

changed silly file names
  src/NotesApplication/Controllers/Controller.cs
  src/NotesApplication/Services/DBService.cs
Due: none

jlfkdjs
  src/NotesApplication/README.txt
Due: none

Fixed container variable in DBService
  src/NotesApplication/Services/DBService.cs
Due: none

commented out broken code
  src/ClassApplication/Models/Classroom.cs
Due: none

Connecting ClassApp to the databsase
  src/ClassApplication/Controllers/ValuesController.cs
  src/ClassApplication/Models/Classroom.cs
  src/ClassApplication/Service/DatabaseService.cs
  src/ClassApplication/Startup.cs
Due: none

Update Model for Classroom
  src/ClassApplication/Models/Classroom.cs
Due: none

Connected Class App to the Database and Fixed Pointers (#42)
  src/ClassApplication/Controllers/ValuesController.cs
  src/ClassApplication/Models/Classroom.cs
  src/ClassApplication/Service/DatabaseService.cs
  src/ClassApplication/Startup.cs
Due: none

Connecting to Database (#40)
  src/NotesApplication/Controllers/Controller.cs
  src/NotesApplication/Services/DBService.cs
  src/NotesApplication/Startup.cs
Due: none

Integrate DB service and add basic GET
  .vscode/launch.json
  .vscode/tasks.json
  src/CatalogApplication/Controllers/ValuesController.cs
  src/CatalogApplication/Services/CatalogDatabaseService.cs
  src/CatalogApplication/Services/ConnectionService.cs
  src/CatalogApplication/Services/dbservice.cs
  src/CatalogApplication/Startup.cs
Due: azure-pipelines.catalogapplication.yml

adding root editorconfig so that everyone has the same format on save
  .editorconfig
Due: none

hooking up everyone to the linting errors
  src/CatalogApplication/.editorconfig
  src/ClassApplication/.editorconfig
  src/ClassApplication/.vscode/settings.json
  src/NotesApplication/.editorconfig
  src/NotesApplication/.vscode/settings.json
  src/SecretsService/.editorconfig
  src/SecretsService/.vscode/settings.json
  src/UserApplication/.editorconfig
  src/UserApplication/.vscode/settings.json
Due: azure-pipelines.catalogapplication.yml, azure-pipelines.secretsservice.yml

Adding .editorconfig so all services can style their code properly (#44)
  .editorconfig
  src/CatalogApplication/.editorconfig
  src/ClassApplication/.editorconfig
  src/ClassApplication/.vscode/settings.json
  src/NotesApplication/.editorconfig
  src/NotesApplication/.vscode/settings.json
  src/SecretsService/.editorconfig
  src/SecretsService/.vscode/settings.json
  src/UserApplication/.editorconfig
  src/UserApplication/.vscode/settings.json
Due: azure-pipelines.catalogapplication.yml, azure-pipelines.secretsservice.yml

Update note ID to be a string instead of integer
  src/CatalogApplication/Models/Rating.cs
  src/CatalogApplication/Models/Tags.cs
Due: azure-pipelines.catalogapplication.yml

Adding models for Classroom and Notes for claims
  src/ClaimsService/Models/Classroom.cs
  src/ClaimsService/Models/Notes.cs
Due: none

Create classes Classroom, Student, and Note with variables: Students, Name, Tags, Notes, Name, Year, Notes, Classrooms, Author, Rating, Description, and CreationDate
  src/ClassApplication/.vscode/sprint1.cs
Due: none

Fix typo
  src/CatalogApplication/Models/Rating.cs
Due: azure-pipelines.catalogapplication.yml

Added Classroom class and origin comments
  src/ClassApplication/Models/Classroom.cs
Due: none

Added embeded image for usecase diagram
  src/ClassApplication/Models/README.md
Due: none

Update README.md to reflect Notes Application decision for string IDs
  src/CatalogApplication/Models/README.md
Due: azure-pipelines.catalogapplication.yml

Added class diagram to Classroom
  src/ClassApplication/Models/README.md
Due: none

Delete sprint1.cs
  src/ClassApplication/sprints/sprint1.cs
Due: none

Adding Database and Blob Storage Connections to Controllers (#22)
  azure-pipelines.catalogapplication.yml
  azure-pipelines.claimsservice.yml
  azure-pipelines.classapplication.yml
  azure-pipelines.notesapplication.yml
  azure-pipelines.secretsservice.yml
  azure-pipelines.userapplication.yml
  src/CatalogApplication/CatalogApplication.csproj
  src/CatalogApplication/Controllers/ValuesController.cs
  src/CatalogApplication/Startup.cs
  src/ClaimsService/ClaimsService.csproj
  src/ClaimsService/Controllers/ValuesController.cs
  src/ClaimsService/Startup.cs
  src/ClaimsService/charts/claimsservice/templates/deployment.yaml
  src/ClassApplication/ClassApplication.csproj
  src/ClassApplication/Controllers/ValuesController.cs
  src/ClassApplication/Startup.cs
  src/NotesApplication/Controllers/Controller.cs
  src/NotesApplication/NotesApplication.csproj
  src/NotesApplication/Startup.cs
  src/Shared/Sdk.Test/Sdk.Test.csproj
  src/Shared/Sdk/Providers/Controllers/PlatformController.cs
  src/Shared/Sdk/Providers/ServiceClients/ClientFactory.cs
  src/Shared/Sdk/Sdk.csproj
  src/UserApplication/Controllers/ValuesController.cs
  src/UserApplication/Startup.cs
  src/UserApplication/UserApplication.csproj
Due: azure-pipelines.catalogapplication.yml, azure-pipelines.sdk.yml

Add model for Classroom
  src/ClassApplication/Models/Classroom.cs
Due: none

markdown format fix
  src/CatalogApplication/Models/README.md
Due: azure-pipelines.catalogapplication.yml

Updating README to what I believe would be a better structure for the ratings. Instead of having a numsRating it would have an id for 1st arvote, 2starvote, etc.
  src/CatalogApplication/Models/README.md
Due: azure-pipelines.catalogapplication.yml

The sprints for the ClassApplication
  src/ClassApplication/Sprints/intro.txt
Due: none
