Repository ACMTTU/acm-note-sharing-platform: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.authapplication.yml, azure-pipelines.catalogapplication.yml, azure-pipelines.sdk.yml, azure-pipelines.secretsservice.yml

Path conditions:
  azure-pipelines.authapplication.yml: any of: src/AuthApplication
  azure-pipelines.catalogapplication.yml: any of: src/CatalogApplication
  azure-pipelines.sdk.yml: any of: src/Shared
  azure-pipelines.secretsservice.yml: any of: src/SecretsService

Update README
  src/ClaimsService/Models/README.md
Due: none

Adding models for Classroom and Notes for claims
  src/ClaimsService/Models/Classroom.cs
  src/ClaimsService/Models/Notes.cs
Due: none

Updating README to reflect the model
  src/ClaimsService/Models/README.md
Due: none

Fixing the README
  src/ClaimsService/Models/README.md
Due: none

Update Models with id and README to reflect the model
  src/ClaimsService/Models/Classroom.cs
  src/ClaimsService/Models/Notes.cs
  src/ClaimsService/Models/README.md
Due: none

Add Note class
  src/NotesApplication/Note.cs
Due: none

Expanded upon and updated
  src/NotesApplication/Note.cs
Due: none

Updating README to what I believe would be a better structure for the ratings. Instead of having a numsRating it would have an id for 1st arvote, 2starvote, etc.
  src/CatalogApplication/Models/README.md
Due: azure-pipelines.catalogapplication.yml

Move Note class to Models folder
  src/NotesApplication/Models/Note.cs
Due: none

Change capitalization of ID property of Note cls
  src/NotesApplication/Models/Note.cs
Due: none

Prepare Note class for being a schema
  src/NotesApplication/Models/Note.cs
Due: none

Add an update method to Note (for synching)
  src/NotesApplication/Models/Note.cs
Due: none

adding namespace environment variable
  src/CatalogApplication/charts/catalogapplication/templates/deployment.yaml
  src/ClassApplication/charts/classapplication/templates/deployment.yaml
  src/NotesApplication/charts/notesapplication/templates/deployment.yaml
Due: azure-pipelines.catalogapplication.yml

Adding Namespace Environment Variable (#32)
  src/CatalogApplication/charts/catalogapplication/templates/deployment.yaml
  src/ClassApplication/charts/classapplication/templates/deployment.yaml
  src/NotesApplication/charts/notesapplication/templates/deployment.yaml
Due: azure-pipelines.catalogapplication.yml

Fix README to comply with class
  src/NotesApplication/README.txt
Due: none

Fix method naming
  src/NotesApplication/Models/Note.cs
Due: none

Update Note documentation
  src/NotesApplication/Models/Note.cs
Due: none

Add base CatalogDatabaseService
  src/CatalogApplication/Services/CatalogDatabaseService.cs
  src/CatalogApplication/Services/ConnectionService.cs
Due: azure-pipelines.catalogapplication.yml

Add service to controller
  src/CatalogApplication/Startup.cs
Due: azure-pipelines.catalogapplication.yml

Integrate DB service and create containers/database
  src/CatalogApplication/Controllers/ValuesController.cs
  src/CatalogApplication/Services/ConnectionService.cs
Due: azure-pipelines.catalogapplication.yml

Adding ValueController integration
  src/CatalogApplication/Controllers/ValuesController.cs
Due: azure-pipelines.catalogapplication.yml

Adding Schema for the Notes Application with Documentation (#33)
  src/NotesApplication/Models/Note.cs
  src/NotesApplication/Program.cs
  src/NotesApplication/README.txt
  src/NotesApplication/Startup.cs
Due: none

Changed the names of the attributes to lowercase so that CosmosDB doesn't get mad.
  src/UserApplication/Models/UserInfo.cs
Due: none

Added models for user application (#28)
  src/UserApplication/Models/UserInfo.cs
Due: none

Create README.md
  src/UserApplication/Models/README.md
Due: none

Create README.md for UserApplication(#34)
  src/UserApplication/Models/README.md
Due: none

added methoud stubs for Delete, Get, and Edit note
  src/NotesApplication/Controllers/Controller.cs
Due: none

added userId to note metadata
  src/NotesApplication/Models/Note.cs
Due: none

fixed README to only have v1 Rating attributes
  src/CatalogApplication/Models/README.md
Due: azure-pipelines.catalogapplication.yml

adding a service that can help connect everyone to the database and notes
  src/Shared/Sdk/Providers/Services/PlatformBaseService.cs
  src/Shared/Sdk/Sdk.csproj
Due: azure-pipelines.sdk.yml

using sdk 0.4.5
  src/Shared/Sdk/Providers/ServiceClients/StorageClientFactory.cs
  src/Shared/Sdk/Sdk.csproj
Due: azure-pipelines.sdk.yml

using PlatformBaseService to connect
  src/NotesApplication/Controllers/Controller.cs
  src/NotesApplication/NotesApplication.csproj
  src/NotesApplication/Services/ConnectionService.cs
  src/NotesApplication/Services/NotesMetaDataService.cs
  src/NotesApplication/Startup.cs
Due: none

moving all services to SDK 0.4.5
  src/CatalogApplication/CatalogApplication.csproj
  src/ClaimsService/ClaimsService.csproj
  src/ClassApplication/ClassApplication.csproj
  src/UserApplication/Models/UserInfo.cs
  src/UserApplication/UserApplication.csproj
Due: azure-pipelines.catalogapplication.yml

fixing typos
  src/UserApplication/Models/UserInfo.cs
Due: none

adding an example
  src/Shared/Sdk/Providers/Services/ExampleAPI/Controllers/ValuesController.cs
  src/Shared/Sdk/Providers/Services/ExampleAPI/ExampleAPI.csproj
  src/Shared/Sdk/Providers/Services/ExampleAPI/Program.cs
  src/Shared/Sdk/Providers/Services/ExampleAPI/Services/ConnectionService.cs
  src/Shared/Sdk/Providers/Services/ExampleAPI/Services/FooService.cs
  src/Shared/Sdk/Providers/Services/ExampleAPI/Startup.cs
  src/Shared/Sdk/Providers/Services/README.md
Due: azure-pipelines.sdk.yml

adding readme to help those who cannot open the project
  src/README.md
Due: none

removed user id param(not us part of claims)
  src/NotesApplication/Controllers/Controller.cs
Due: none

got rid of user_id(claims handles this)
  src/NotesApplication/Models/Note.cs
Due: none

corrected getNote HTTP request
  src/NotesApplication/Controllers/Controller.cs
Due: none

added service to connect to database under Services folder
  src/NotesApplication/Controllers/Controller.cs
  src/NotesApplication/NotesApplication.csproj
  src/NotesApplication/Services/DBService.cs
  src/NotesApplication/Startup.cs
Due: none
